.chess-board {
    // transition: transform 1s linear;
    .row {
        height: 70px;
        display: flex;
    }
    .box {
        width: 70px;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #dedede;
        padding: 8px;
        img {
            max-width: 100%;
            cursor: pointer;
        }
        &.selected {
            border-color: green;
        }
        &.next-move {
            border-color: crimson;
            cursor: pointer;
        }
    }

    .row:nth-child(2n) {
        .box:nth-child(2n) {        
            background-color: #fff;
        }
        .box:nth-child(2n+1) {
            background-color: #adadad;
        }
    }
    .row:nth-child(2n+1) {
        .box:nth-child(2n) {        
            background-color: #adadad;
        }
        .box:nth-child(2n+1) {
            background-color: #fff;
        }
    }
}

.chess-screen {
    display: flex;
    position: relative;
}

.white-out-pieces {
    position: absolute;
    left: -190px;
    // height: 100%;
    width: 145px;
    border: 1px solid #adadad;
    display: flex;
    flex-wrap: wrap;
    .piece-box {
        width: 70px;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        img {
            max-width: 100%;
        }
    }
}

.black-out-pieces {
    position: absolute;
    right: -190px;
    // height: 100%;
    width: 145px;
    border: 1px solid #adadad;
    display: flex;
    flex-wrap: wrap;
    .piece-box {
        width: 70px;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        img {
            max-width: 100%;
        }
    }
}

.clr-btn {
    position: fixed;
    top: 60px;
    right: 20px;
    cursor: pointer;
}